@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  ----color-primary: #f5f5f5;
  --color-primary-foreground: #0a0a0a;
  --color-secondary: #f0f0f0;
  ----color-secondary-foreground: #1a1a1a;
  --color-accent: #a3a3a3;
  --color-accent-foreground: #2a2a2a;
  --color-muted: #d0d0d0;
  --color-muted-foreground: #3a3a3a;
  --color-border: #c0c0c0;
  --color-input: #ffffff;
  --color-ring: #b0b0b0;
  --color-background-secondary: #fafafa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
